@charset "UTF-8";

/* ===== 内容 ===== */

.vehicle{
    max-width:900px;
    margin:80px auto;
    padding:0 20px;
}

.vehicle-block{
    margin:60px 0;
    padding:30px;
    background:#fff;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.vehicle-block h3{
    text-align:center;
    font-size:22px;
    margin-bottom:20px;
}

.vehicle-title span{
    display:inline-block;
}

.vehicle-block p{
    font-size:16px;
    line-height:2;
    color:#444;
}

.vehicle-block ul{
    list-style: disc;
    padding-left:25px;
    margin:10px 0;
}

.vehicle-block li{
    margin-bottom:8px;
    line-height:1.8;
}
